* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:violet;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#wrapper {
    /* width: 1000px; */
    /* height: 500px; */
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(0, 0,0 ,0.5);
    padding: 40px;
    background: radial-gradient(#353a4a,#000);
}
#wrapper h1 {
    text-transform: uppercase;
    margin-bottom: 5%;
    color: white;

}
#wrapper h1:hover {
    color: #f99369;
}
#single-task {
    width: 300px;
    padding: 15px;
    border-radius: 7px;
    border: black;
    
}
#single-task:hover {
    background-color: pink;
}
button {
    background: linear-gradient(45deg,#dc1599,#f99369);
    border: none;
    color: #fff;
    padding: 13px 19px;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 10px;
}
button:hover {
    color:black;
}
.task {
    margin-bottom: 5px;
    margin-top: 20px;
    background:#fff;
    color: #000;
    list-style: none;
    padding: 0 15px ;
    line-height: 35px;
}

.task input [type="checkbox"]{
    display: none;
}
.task .delete{
    color: red;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    float: right;
}
/* @media (max-width:947px){
     #task-area {
        display: flex;
        justify-content: flex-start;
        width: 5%;
        height: 10%;
    
        align-items: baseline;
    }
}
        
@media (max-width: 775px) {
    h1
      {
        
        font-size: 20px;
        margin: -30px;
        padding: 50px 0px 0px 0px;
    }

}
@media (max-width:641px) {
    #task-area {
        margin: -30px;
        padding: 50px 0px 0px 0px;
        

    }
} */